.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .content {
    text-align: center;
    padding: 0 20px;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .image {
    background-image: url("../../images/discount-background1.webp");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

.discount .content .image img {
    width: 300px;
    max-width: 100%;
}

.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: #F9F9F9;
    caret-color: var(--main-color);
}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}

.discount .form .input:focus {
    outline: none;
}

.discount .form input[type=submit] {
    display: block;
    width: 100%;
    padding: 15px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--transition-duration);
}

.discount .form input[type=submit]:hover {
    background-color: var(--main-color-alt);
    color: white;
    border-color: var(--main-color-alt);
}

@media (max-width: 991px) {
    .discount .image, .discount .form {
        flex-basis: 100%;
    }
}

/* Animation */
@keyframes change-background {
    0%, 100% {
        background-image: url("../../images/discount-background1.webp");
    }

    50% {
        background-image: url("../../images/discount-background2.webp");
    }
}