.events {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-section);
}

.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img {
    max-width: 450px;
}

.events .container .info {
    flex: 1;
}

.events .container .info .time {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}

.events .container .info .time .unit {
    border: 1px solid #D4D4D4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--transition-duration);
}

.events .container .info .time .unit span {
    display: block;
}

.events .container .info .time .unit span:first-child {
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.events .container .info .time .unit span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #D4D4D4;
    transition: var(--transition-duration);
}

.events .container .info .title {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
    font-weight: bold;
}

.events .container .info .desc {
    text-align: center;
    line-height: 1.6;
    font-size: 19px;
    color: #777;
}

.events .container .info .time .unit:hover, .events .container .info .time .unit:hover span:last-child {
    border-color: var(--main-color);
}

.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .container .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #F6F5F5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

.events .container .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}

.events .container .subscribe form input[type="email"]:focus {
    outline: none;
}

.events .container .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--transition-duration);
}

.events .container .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--transition-duration);
}

.events .container .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

@media (max-width: 991px) {
    .events .container img {
        display: none;
    }
}

@media (max-width: 767px) {
    .events .container .subscribe form {
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 6px;
    }

    .events .container .subscribe form input[type="email"] {
        border-radius: 6px;
    }

    .events .container .subscribe form input[type="submit"] {
        border-radius: 6px;
    }
}