.features {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: 1px solid #CCC;
}

.features .container .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .container .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features .container .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 170px 500px;
    border-color: transparent  transparent white transparent;
    transition: var(--transition-duration);
}

.features .container .box .img-holder img {
    max-width: 100%;
}

.features .container .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0px;
    border-color: transparent transparent white transparent;
}

.features .container .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .container .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .container .box p {
    line-height: 1.6;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .container .box a {
    display: block;
    /* border: 3px solid transparent; */
    border-width: 3px;
    border-style: solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--transition-duration);
}

.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
    background-color: #F44036;
}

.features .quality a {
    color: #F44036;
    border-color: #F44036;
    background: linear-gradient(to right, #F44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
    background-color: #0349f4;
}

.features .passion a {
    color: #0349f4;
    border-color: #0349f4;
    background: linear-gradient(to right, #0349f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .container .box:hover a {
    background-position: left bottom;
    color: white;
}