footer {
    background-color: #191919;
    padding: 70px 0 0 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

footer .container .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

footer .container .box .social {
    display: flex;
}

footer .container .box .social li {
    margin-right: 10px;
}

footer .container .box .social li a {
    background-color: #313131;
    color: #898989;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--transition-duration);
}

footer .container .box .social .facebook:hover {
    background-color: #1877F2;
}

footer .container .box .social .x:hover {
    background-color: #000000;
}

footer .container .box .social .youtube:hover {
    background-color: #FF0000;
}

footer .container .box .text {
    line-height: 1.6;
    color: #B9B9B9;
}

footer .container .box .links li {
    padding: 15px 0;
    transition: var(--transition-duration);
}

footer .container .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

footer .container .box .links li:hover {
    padding-left: 10px;
}

footer .container .box .links li:hover a {
    color: white;
}

footer .container .box .links li a {
    color: #B9B9B9;
    transition: var(--transition-duration);
}

footer .container .box .links li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

footer .container .box .line {
    display: flex;
    align-items: center;
    color: #B9B9B9;
    margin-bottom: 30px;
}

footer .container .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

footer .container .box .line .info {
    line-height: 1.6;
    flex: 1;
}

footer .container .box .line .info span {
    display: block;
}

footer .container .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}

footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0 0;
    border-top: 1px solid #444;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }

    footer .container .box .social {
        justify-content: center;
    }

    footer .container .box .line {
        flex-direction: column;
    }

    footer .container .box .line i {
        margin-right: 0;
        margin-bottom: 10px;
    }
}