header {
    background-color: var(--background-color);
    position: relative;
    -webkit-box-shadow: 0 0 10px #DDD;
    -moz-box-shadow: 0 0 10px #DDD;
    box-shadow: 0 0 10px #DDD;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .main-nav {
    display: flex;
}

header .main-nav > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    position: relative;
    color: black;
    overflow-y: hidden;
    padding: 0 30px;
    transition: var(--transition-duration);
}

header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--transition-duration);
}

header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}

header .main-nav > li > a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    /* z-index: -1; */
    transition: top var(--transition-duration), opacity var(--transition-duration), transform var(--transition-duration);

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

header .mega-menu.open-mega-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header .mega-menu .image img {
    max-width: 100%;
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
    left: 0;
    transition: var(--transition-duration);
}

header .mega-menu .links li:hover {
    left: 10px;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #E9E6E6;
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #FAFAFA;
    z-index: -1;
    transition: var(--transition-duration);
}

header .mega-menu .links li:hover::before {
    content: "";
    width: 100%;
}

header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    transition: var(--transition-duration);
}

header .mega-menu .links li:hover a {
    font-size: 20px;
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }

    header .main-nav {
        margin: auto;
    }

    header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }

    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }

    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #E9E6E6;
    }
}

@media (max-width: 991px) {
    header .mega-menu .image  {
        display: none;
    }
}