.how-it-works {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-section-alt);
}

.how-it-works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.how-it-works .container .image {
    width: 100%;
    margin-right: 100px;
}

.how-it-works .container .info .box {
    background-color: #F6F5F5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}

.how-it-works .container .info .box::before {
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    background-color: #EDEDED;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: var(--transition-duration);
}

.how-it-works .container .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.how-it-works .container .info .box img {
    width: 64px;
    margin-right: 20px;
}

.how-it-works .container .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.how-it-works .container .info .box .text p {
    color: #777;
    line-height: 1.6;
    margin: 10px 0 0 0;
    font-size: 18px;
}

@media (max-width: 991px) {
    .how-it-works .container {
        flex-direction: column;
    }

    .how-it-works .container .image {
        margin: 0 0 50px;
    }

    .how-it-works .container .info .box {
        flex-direction: column;
    }

    .how-it-works .container .info .box img {
        margin: 0 0 10px;
    }

    .how-it-works .container .info .box .text {
        text-align: center;
    }
}