.our-skills {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-color);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .container .skills {
    flex: 1;
}

.our-skills .container .skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .container .skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #CCC;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--main-color);
}

.our-skills .container .skills .skill .the-progress {
    height: 30px;
    background-color: #EEE;
    position: relative;
}

.our-skills .container .skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    background-color: var(--main-color);
}

@media (max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}