.pricing {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-section-alt);
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .container .box {
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 40px 0 rgb(0 0 0 / 12%);
    transition: var(--transition-duration);
    background-color: white;
    text-align: center;
    z-index: 1;
}

.pricing .container .box::before, .pricing .container .box::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #F6F6F6;
    position: absolute;
    z-index: -1;
    transition: var(--transition-duration);
}

.pricing .container .box::before {
    left: 0;
    top: 0;
}

.pricing .container .box::after {
    right: 0;
    bottom: 0;
}

.pricing .container .box:hover::before, .pricing .container .box:hover::after {
    width: 100%;
}

.pricing .container .box.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 0;
    width: 40px;
}

.pricing .container .box.popular .label::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}

.pricing .container .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .container .box img {
    width: 80px;
    margin-bottom: 30px;
}

.pricing .container .box .price {
    margin-bottom: 20px;
}

.pricing .container .box .price .amount {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
}

.pricing .container .box .price .time {
    color: #777;
}

.pricing .container .box ul {
    text-align: left;
}

.pricing .container .box ul li {
    padding: 20px;
    border-top: 1px solid #EEE;
}

.pricing .container .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .container .box a {
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--transition-duration);
}

.pricing .container .box a:hover {
    background-color: var(--main-color);
    color: white;
}

@media (min-width: 1200px) {
    .pricing .container .box.popular {
        top: -20px;
    }
}