.services {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-section-alt);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 40px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--transition-duration);
    position: relative;
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--transition-duration);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box > i {
    margin: 40px auto 20px;
    display: block;
    text-align: center;
    color: #D5D5D5;
}

.services .container .box > h3 {
    text-align: center;
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}

.services .container .box .info {
    padding: 15px;
    position: relative;
    background-color: #F9F9F9;
    text-align: right;
}

.services .container .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .container .box .info::after {
    content: "";
    position: absolute;
    background-color: #D5D5D5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
}

.services .container .box .info a {
    color: var(--main-color);
}