.statistics {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-image: url("../../images/stats.webp");
    background-size: cover;
    min-height: 300px;
}

.statistics::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.statistics h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
    text-align: center;
}

.statistics .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.statistics .container .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--transition-duration);
}

.statistics .container .box:hover {
    opacity: 1;
}

.statistics .container .box::before, .statistics .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: var(--transition-duration);
    height: 0;
}

.statistics .container .box::before {
    top: 0;
    right: 0;
}

.statistics .container .box::after {
    left: 0;
    bottom: 0;
}

.statistics .container .box:hover::before, .statistics .container .box:hover::after {
    height: 100%;
}

.statistics .container .box .number {
    display: block;
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.statistics .container .box .text {
    color: var(--main-color);
    font-style: italic;
    font-weight: bold;
}