.team {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-color);
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .container .box {
    position: relative;
    z-index: 1;
}

.team .container .box::before, .team .container .box::after {
    content: "";
    background-color: #F3F3F3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--transition-duration);
}

.team .container .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}

.team .container .box::after {
    z-index: -1;
    background-color: #E4E4E4;
    width: 0;
}

.team .container .box:hover::after {
    width: calc(100% - 60px);
    
}

.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team .container .box .data img {
    width: calc(100% - 60px);
    border-radius: 10%;
    transition: var(--transition-duration);
}

.team .container .box:hover img {
    filter: grayscale(100%);
}

.team .container .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.team .container .box .data .social a {
    width: 60%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .container .box .data .social a:hover i {
    color: var(--main-color);
}

.team .container .box .data .social i {
    color: #777;
    transition: var(--transition-duration);
}

.team .container .box .info {
    padding-left: 80px;
}

.team .container .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--transition-duration);
}

.team .container .box:hover .info h3 {
    color: #777;
}

.team .container .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}