.testimonials {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-color: var(--background-section-alt);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    position: relative;
}

.testimonials .container .box img {
    position: absolute;
    right: -10px;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--background-section-alt);
}

.testimonials .container .box h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}

.testimonials .container .box .title {
    color: #777;
    margin-bottom: 10px;
    display: block;
}

.testimonials .container .box .rate .filled {
    color: #FFC107;
}

.testimonials .container .box p {
    line-height: 1.6;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}