.dots {
    background-image: url("../../images/dots.webp");
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}